@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility flex-center-y {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}